#!/bin/sh

# Make any configuration changes necessary for setting up your local and rename to wp-install.sh

vendor/bin/wp --info

vendor/bin/wp core download

rm -rf wp/wp-config-sample.php

# Update this or remove it
if [ ! -e wp/wp-config ]
then
    vendor/bin/wp config create --dbname=wordpress --dbuser=root --dbpass=root
    vendor/bin/wp core install --path=./wp --url=wordpress.dev --title=Wordpress --admin_user=admin --admin_email=admin@example.com
fi

# Symlink themes work to wp-content folder
find themes -maxdepth 1 -mindepth 1 -type d -exec ln -s ../../../'{}' wp/wp-content/themes/ \;

# Install plugins by name:
# vendor/bin/wp plugin install advanced-custom-fields